    <head>
        <h1>Books_Has_Spells</h1>
        <nav>
            <a href ='/'>Home</a>
            <a href ='/Books'>Books</a>
            <a href ='/Students'>Students</a>
            <a href ='/Professors'>Professors</a>
            <a href ='/Classes'>Classes</a>
            <a href ='/Class_Schedules'>Class_Schedules</a>
            <a href ='/Houses'>Houses</a>
            <a href ='/Spells'>Spells</a>
            <a href ='/Students_Has_Books'>Students_Has_Books</a>
            <a href ='/Students_Has_Classes'>Students_Has_Classes</a>
            <a href ='/Books_Has_Spells'>Books_Has_Spells</a>
        </nav>
    </head>
    <body>
        <p>Each book goes over the best practices for each spell</p>
        <table id="books-has-spells-table">
            <thead>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </thead>  
            <tbody>
               {{#each data}}
                <tr data-value={{this.id}}>
                    <td>{{this.id}}</td>
                    <td>{{this.book}}</td>
                    <td>{{this.spell}}</td>
                    <td><button onclick="deleteBooksHasSpells({{this.id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_books_has_spells.js"></script>

        <div id = "add-books-has-spells">
        {{!-- Form to add a record to the table  --}}
        <form id="add-books-has-spells-ajax">
            <fieldset>
                <legend>Adding a relationship between books and spells With AJAX</legend>
                <legend>To add a new relationship, please enter its information below and click 'Submit'!</legend>
                <label for="input-selectBooks">Books to add: </label>
                <select name="input-selectBooks" id="mySelectBooks">
                    <option value="test">Select a Book</option>
                    {{#each books}}
                    <option value="{{this.book_id}}">{{this.book}}</option>
                    {{/each}}
                </select>

                <label for="input-selectSpells">Title of Spell to add: </label>
                <select name="input-selectSpells" id="mySelectSpells">
                    <option value="test">Select a Spell</option>
                    {{#each spells}}
                    <option value="{{this.spell_id}}">{{this.spell}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <button type="submit">Add</button>
        </form>
        <script src="./js/add_books_has_spells.js"></script>
    </body>
