<!-- students.hbs -->
<html> 
    <head>
        <h1>Students</h1>

        <nav>
        <a href ='/'>Home</a>
        <a href ='/Books'>Books</a>
        <a href ='/Students'>Students</a>
        <a href ='/Professors'>Professors</a>
        <a href ='/Classes'>Classes</a>
        <a href ='/Class_Schedules'>Class_Schedules</a>
        <a href ='/Houses'>Houses</a>
        <a href ='/Spells'>Spells</a>
        <a href ='/Students_Has_Books'>Students_Has_Books</a>
        <a href ='/Students_Has_Classes'>Students_Has_Classes</a>
        <a href ='/Books_Has_Spells'>Books_Has_Spells</a>
        </nav>

        <p>At Gandalf's Academy, our students are our highest priority. Attending our school are the future archmages of the next generation,
            the sorceresses and alchemists that will define the next frontiers of arcane study. Whether you are just beginning your magical journey, or
            are already at the cutting edge of your chosen field, professors and fellow students at Gandalf's Academy will support your next step forward! &#129489;&#8205;&#127891;
        </p>
    </head>

    <body>
        {{!-- Create a table --}}
        <table id="student-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>delete</th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the book_id, title, cost, and delete button in order --}}
                {{#each data}}
                <tr data-value={{this.student_id}}>
                    <td>{{this.student_id}}</td>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.age}}</td>
                    <td>{{this.year}}</td>
                    <td>{{this.is_full_time}}</td>
                    <td>{{this.house}}</td>
                    <td><button onclick="deleteStudent({{this.student_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_student.js"></script>

        <form id="search-f_name-html" method='GET' action='/Students'>
            <fieldset>
                <legend>Search Using an HTML Form</legend>
                <legend>Search by first name using the field below. Partial first names will be accepted!</legend>
                <label for="input-f_name">Search by First Name: </label>
                <input type="text" name="f_name" id="input-f_name-html-search">
            </fieldset>
            <button type="submit">Search</button>
            <a href='/Students'><button>Reset</button></a>
        </form>


        <div id = add-student>
        {{!-- Form to add a record to the table  --}}
        <form id="add-student-form-ajax">
            <fieldset>
                <legend>Adding a Student With AJAX</legend>
                <legend>To add a new student, please enter their information below and click 'Submit'!</legend>
                <label for="input-f_name">First Name: </label>
                <input type="text" name="input-f_name" id="input-f_name">

                <label for="input-l_name">Last Name: </label>
                <input type="text" name="input-l_name" id="input-l_name">
                
                <label for="input-age">Age: </label>
                <input type="text" name="input-age" id="input-age">

                <label for="input-year">Year: </label>
                <input type="text" name="input-year" id="input-year">

                <label for="input-is_full_time">Is This Student Full-Time? </label>
                <select name="input-is_full_time" id="input-is_full_time">
                    <option value="">Is This Student Full-Time?</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

                <label for="input-house">House: </label>
                <select name="input-house" id="input-house">
                    <option value="">Select a House</option>
                    {{#each houses}}
                    <option value="{{this.house_id}}">{{this.house_name}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <button type="submit">Add</button>
        </form>
        {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_student.js"></script>
        </div>
    </body>
{{!-- NO UPDATE FOR STUDENTS --}}
</html>